/* Enter your custom styles here */

.upperCaseList div [id*="titleText"] {
    text-transform: uppercase !important;
}

.stylePanelToken {
    padding-top: 23px;
}

.stylePanelToken h1 {
    background-color: #f7f7f7 !important;
}

.styelTreeTable div[aria-level="1"] {
    pointer-events: none;
    visibility: hidden;
    /*content: "";*/
    background-color: #e8eff6 !important;
}


/*.styelTreeTable div .sapUiTableRowHdr {*/


/*    pointer-events: none;*/


/*    visibility: hidden;*/


/*content: "";*/


/*    background-color: #e8eff6 !important;*/


/*}*/

.styelTreeTable td[aria-level="1"] {
    background-color: #e8eff6 !important;
}

.styelTreeTable td[aria-level="2"] {
    background-color: #fff !important;
}

.styelTreeTable div[aria-level="2"] {
    background-color: #fff !important;
}

.viewAppMaster .sapMObjLTopRow .sapMObjLIconDiv span {
    font-size: 2.1rem !important;
}

.calendarNewRequest {
    width: 100% !important;
}

.alignItemDialog {
    height: auto !important;
}

.customBorder {
    border: 1px solid #5496cd !important;
    /*background:#f2f2f2;*/
}

.customBorder.sapMLIBSelected {
    background: #5496cd !important;
}

.customBorder.sapMLIBSelected .sapMSLITitleOnly {
    color: #fff !important;
}

.customBorder.sapMLIBSelected span {
    color: #fff !important;
}

.customBorder .sapUiIcon {
    left: calc(40% - 10%);
    color: #427cac !important;
}

.customBorder .sapMSLITitleDiv {
    text-align: center;
}

.alignItemDialog .sapMLabel {
    display: block;
    padding-top: 10px;
}

.alignItemDialog .sapMILIDiv {
    margin: 0 0 0 0 !important;
    text-align: left !important;
}

.alignSegmentButton li {
    width: 100% !important;
    border-right: 1px solid #bfbfbf !important;
}

.viewAppMaster .sapMText.sapMObjLTitle {
    font-size: 16px;
}


/*.viewAppMaster .sapMPageHeader	.sapMTitle{*/


/*	display:none;*/


/*}*/

.sapMSplitApp .sapMSplitContainerDetail header .sapMTitle {
    display: none;
}

.viewAppMaster .sapMObjectNumberText {
    font-size: 18px !important;
}

.viewAppMaster .sapMOHTopRow .sapMOHTitle {
    top: 0;
}

.viewAppMaster .sapMObjectNumberUnit {
    /*color: #336186;*/
    font-size: 12px !important;
}

.viewAppMaster .noClicAvailable {
    pointer-events: none;
}

.viewAppMaster .clicAvailable {
    pointer-events: all;
}


/*.sapMITBContent {*/


/*    pointer-events: none;*/


/*}*/

.viewAppMaster input {
    text-transform: uppercase !important;
}


/*.sapMTextMaxLine {*/


/*    text-transform: uppercase !important;*/


/*}*/

.viewAppMaster .requiredClass:before {
    content: "*";
    color: #c14646;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 0;
    position: relative;
    top: 0.15rem;
}

.viewAppMaster #__component0---detail--inputBirthdate-inner,
.viewAppMaster #__component0---detail--inputEntryDate-inner,
.viewAppMaster #__component0---detail--inputDepartureDate-inner {
    pointer-events: none;
}

.viewAppMaster #__label24,
.viewAppMaster #__label25,
.viewAppMaster #__label26,
.viewAppMaster #__label27,
.viewAppMaster #__label17 {
    white-space: normal;
}


/*#__label17:before {*/


/*    content: "*";*/


/*    color: #c14646;*/


/*    font-size: 1.25rem;*/


/*    font-weight: bold;*/


/*    line-height: 0;*/


/*    position: relative;*/


/*    top: 0.15rem;*/


/*}*/


/*#__label13:before {*/


/*    content: "*";*/


/*    color: #c14646;*/


/*    font-size: 1.25rem;*/


/*    font-weight: bold;*/


/*    line-height: 0;*/


/*    position: relative;*/


/*    top: 0.15rem;*/


/*}*/


/*#__label25{*/


/*	color:#fff;*/


/*}*/

.viewAppMaster #__component0---detail--formCampInfo--Grid.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM4 {
    width: 9.333333% !important;
}

.viewAppMaster #__component0---detail--formCampInfo--Grid.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM3 {
    width: 11% !important;
}

.viewAppMaster #__component0---master--page-page-cont {
    top: 168px !important;
}

.viewAppMaster .sapMPage>.sapMPageHeader + .sapMPageSubHeader + section {
    top: 168px;
}

.viewAppMaster .size1 {
    width: 100%;
    height: 100%;
    font-size: 287px;
}

.viewAppMaster .classRedCustom {
    border-color: red !important;
}


/*.sapMSwt2.sapMSwtCont {*/


/*width: 120px;*/


/*}*/

.viewAppMaster .sapMSwt2>.sapMSwtOn div.sapMSwtHandle {
    left: 89%;
}

.viewAppMaster .sapMSwt2>.sapMSwtOn div.sapMSwtHandle {
    right: 100%;
}

.viewAppMaster .sapMSwt2>.sapMSwtDefault>.sapMSwtInner>.sapMSwtTextOn>span {
    width: 100%;
    font-size: 10px;
}

.viewAppMaster .sapMSwt2>.sapMSwtDefault>.sapMSwtInner>.sapMSwtTextOff>span {
    width: 100%;
    font-size: 10px;
}

.viewAppMaster .sapMSwt2 {
    width: 100%;
}

.viewAppMaster .sapMSwt2>.sapMSwtDefault {
    outline: none;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
    width: 100% !important;
    height: 2rem;
    border: 1px solid #bfbfbf;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}

.viewAppMaster .sapMOH {
    margin: 0rem !important;
}

html.sap-desktop::-webkit-scrollbar-thumb {
    background-color: #3e454a !important;
}

html.sap-desktop::-webkit-scrollbar {
    background-color: #3e454a85 !important;
}

.viewAppMaster .sapMIBar.sapMSubHeader-CTX {
    /*color: #666666;*/
    background-color: transparent;
}

.viewAppMaster .sapMSubHeader-CTX .sapMSFF,
.sapMFooter-CTX .sapMSFF {
    border-color: #69696938;
}

.viewAppMaster .sapMSFF {
    /*background: #deeef15 !important;*/
}

.viewAppMaster .sapMIBar-CTX .sapMTitle {
    color: #ffffff;
    /*text-shadow: 0px 2px 0px #333333 !important;*/
}

.viewAppMaster .sapMIBar.sapMHeader-CTX {
    background-color: rgba(63, 81, 97, 0.63) !important
    /*background-color: rgb(142, 163, 174) !important;*/
    /*rgba(63, 81, 97, 0.63) !important*/
}

.viewAppMaster .sapMITH {
    background-color: rgb(65, 79, 97);
}

.viewAppMaster .sapMOH.sapMOHBgSolid,
.sapMOHC.sapMOHBgSolid {
    background-color: rgb(65, 79, 97);
    /*text-shadow: 0px 2px 0px #333333 !important;*/
    /* border-bottom: 0.063rem #dddddd; */
}

.viewAppMaster .sapMOHTopRow span {
    color: #fff !important;
    /*text-shadow: 0px 2px 0px #333333 !important;*/
}

.viewAppMaster .sapMITBFilterDefault {
    color: rgba(144, 201, 246, 1);
    background-color: transparent;
}

.viewAppMaster .sapMITBSelected .sapMITBFilterDefault {
    background: rgba(144, 201, 246, 1);
    color: rgba(77, 60, 73, 1);
}

.viewAppMaster .sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: #91c8f6;
    /*border-bottom: dotted;*/
}

.viewAppMaster .sapMITBFilter .sapMITBText {
    color: #fff;
    /*text-shadow: 0px 2px 0px #333333 !important;*/
}

.viewAppMaster .sapMITH {
    box-shadow: inset 0px 0px 0px 0px #dddddd;
    border-bottom: 0.125rem solid #a1adb7;
}

.viewAppMaster .sapMITBFilterIcon {
    /*background: #417396;*/
    border: 1px dashed #a1adb7;
}

.viewAppMaster .classSuccess {
    border-left: 9px solid #2aa023;
    background: linear-gradient(to right, #ffffff1f 60%, #99ff666b 105%) !important;
}

.viewAppMaster .classDue {
    border-left: 9px solid #696969;
    background: linear-gradient(to right, #ffffff1f 60%, #69696994 105%) !important;
}


/*.classSuccess:hover {*/


/*    border-left: 4px solid #2aa023;*/


/*    background: linear-gradient(to right, #424d611f 36%, #99ff666 105%) !important;*/


/*}*/


/*.sapMLIBHoverable:hover{*/


/*}*/

.viewAppMaster .classRejected {
    border-left: 9px solid #c11b1b;
    background: linear-gradient(to right, #ffffff1f 60%, #c11b1b26 105%) !important;
}

.viewAppMaster .classPending {
    border-left: 9px solid #e89923;
    background: linear-gradient(to right, #ffffff1f 60%, #e899236b 105%) !important;
}

.viewAppMaster #application-Test-url-component---master--page-title {
    /*color: #424d61;*/
    /*text-shadow: 0px 0px 0px #696969 !important;*/
}

.viewAppMaster #application-Test-url-component---master--page-intHeader {
    /*background-color: white !important;*/
}

.viewAppMaster .sapMMessageDialog.sapMPopup-CTX>header.sapMDialogTitle {
    background-color: #ffffff !important;
}

.viewAppMaster .sapMBar {
    box-shadow: 0 -0.0625rem #dddddd !important;
}

.classHead .sapUiTableColHdrCnt table tbody tr td div span {
    color: #fff;
}

.classHead .sapUiTableColHdrCnt table tbody tr td {
    background-color: #346187;
    /*border: 1px solid #000 !important;*/
}

.fixTable {
    left: 2%;
}